<div class="card">
  <div style="text-align:center">
    <h1>
      <img width="50" alt="Angular Logo"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
      Welcome to {{ title }}!
    </h1>
  </div>
  <div class="p-4">
    <h2>Here are some links to help you start: </h2>
    <ul class="list-inline">
      <li>
        <h3><a routerLink="/" routerLinkActive="active">Home</a></h3>
      </li>
      <li>
        <h3><a routerLink="/actions" routerLinkActive="active">Actions</a></h3>
      </li>
      <li>
        <h3><a routerLink="/forms" routerLinkActive="active">Forms</a></h3>
      </li>
      <li>
        <h3><a routerLink="/combined" routerLinkActive="active">Combined</a></h3>
      </li>
    </ul>
  </div>
</div>

<div class="container" *ngIf="router.url == '/'">
  <section>
    <h5>Add</h5>
    <div>Element</div>
  </section>

  <section>
    <h5>Class Add</h5>
    <div class="class">Element</div>
  </section>

  <section>
    <h5>Class Change</h5>
    <div class="old-class">Element</div>
  </section>

  <section>
    <h5>Content Change</h5>
    <div>Element</div>
  </section>

  <section>
    <h5>Order Change</h5>
    <span class="d-block">Element 2</span>
    <div>Element 1</div>
  </section>

  <section>
    <h5>Replace</h5>
    <span class="d-block">Element</span>
  </section>

  <section>
    <h5>Wrap</h5>
    <div>Element</div>
  </section>

  <section>
    <h5>Same</h5>
    <div>Element</div>
  </section>
</div>
<router-outlet></router-outlet>
